body {
    font-family: sans-serif;
    margin: 20px;
    display: grid; /* Enable CSS Grid for the body */
    grid-template-areas:
        "top-left title top-right"
        "filter filter filter"
        "common map future"
        "common map future" /* Duplicate the map row to give it more space if needed */
        "table table table";
    grid-template-rows: auto auto auto auto auto; /* Add another auto row */
    grid-template-columns: auto 1fr auto; /* Adjust column widths as needed */
    gap: 10px;
    align-items: start; /* Align items to the start of the grid cells */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

h1 {
   text-align: center; /* Keep the header text centered within its own space */
    margin-bottom: 0; /* Remove default bottom margin to control spacing with the flex container */
}

.filter-section {
    grid-area: filter;
    display: flex;
    justify-content: center; /* Center the form horizontally */
    gap: 20px;
    margin-bottom: 20px;
}

#common-crimes {
    grid-area: common;
    padding: 10px;
    border: 1px solid #eee;
}

#map-section {
    grid-area: map;
    padding: 10px;
    border: 1px solid #eee;
    height: auto; /* Let the height be determined by content */
    overflow: hidden;
}

#map {
    height: 100%;
    width: 100%;
}

#future-feature {
    grid-area: future;
    padding: 10px;
    border: 1px solid #eee;
}

#data-table-container {
    grid-area: table;
    overflow-x: auto; /* Keep horizontal scroll for wide tables */
    max-height: 400px; /* Set a maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    padding: 10px;
    border: 1px solid #eee;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

th[data-column^="@computed_region"],
td[data-column^="@computed_region"] {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.top-images-container {
    display: flex;
    width: 400%; /* Adjust width as needed */
    justify-content: space-between; /* Space out the images and the (empty) div */
    align-items: center; /* Vertically align items in the center */
    margin-bottom: 20px; /* Space below the images and header */
}

.top-images-container #top-left-image,
.top-images-container #top-right-image {
    width: 550px; /* Or your desired width */
    height: 250px;
}

.leaflet-marker-icon.marker-cluster:hover,
.leaflet-marker-icon.marker-cluster:hover div,
.leaflet-marker-icon.marker-cluster:hover span {
    outline: none !important;
    border: none !important;
}

